<h2>Edit User</h2>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :gem_folder %>
  <%= f.text_field :gem_folder %><br>
  <%= f.submit %>
<% end %>